body{
  background-color: #1E1E1E;
}
.login-div {
  height: calc(100vh - 72.84px); /* calcolo height sottraendo l'altezza della barra di navigazione */
}

.main-div-mobile{
  height:calc(100vh - 72.84px);
}

.main-div-tablet{
  height:calc(50vh - 72.84px);
}

/* Breakpoint per dispositivi con larghezza massima di 575px */
@media screen and (max-width: 575px) {
  .main-img {
    height: 225px;
  }
  .line-chart {
    height: 30vh;
  }
}

/* Breakpoint per dispositivi con larghezza compresa tra 576px e 655px */
@media screen and (min-width: 575px) and (max-width: 655px) {
  .main-img {
    height: 250px;
  }
  .line-chart {
    height: 30vh;
  }
}

/* Breakpoint per dispositivi con larghezza compresa tra 656px e 991px */
@media screen and (min-width: 655px) and (max-width: 991px) {
  .main-img {
    height: 225px;
  }
  .line-chart {
    height: 30vh;
  }
}

/* Breakpoint per dispositivi con larghezza uguale o superiore a 992px */
@media screen and (min-width: 991px) {
  .main-img {
    height: 400px;
  }
  .line-chart {
    height: 40vh;
  }
}
