table,
th,
tr,
td {
  border: 0;
}

.wallet-table {
  border: 0;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .line-chart {
    height: 30vh;
  }
}

@media screen and (min-width: 992px) {
  .line-chart {
    height: 40vh;
  }
}